* {
    transition: all 500ms ease;
    cursor: crosshair;
    overflow:hidden;
  }

html body {
    font-family: 'Asul', sans-serif;
    background-color: #141414;
    color: ghostwhite;
    opacity: 85%;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    padding:0;
}

main {
    margin: 0 auto;
    padding: 120px 0 20px 0;
    max-width: 60%;
  }

.intro {
    font-size: 41px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(60, end);
}

.cursor {
    animation: blink 1s infinite;
    color: #9198e5;
}

.web-dev {
    background: linear-gradient(to right, #9198e5, #de91e5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: transparent;
}

p {
    font-size: 1.1rem;
    word-spacing: 0.2rem;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.fa {
    padding: 15px;
    font-size: 1.5rem;
    width: 1.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: ghostwhite;
    opacity: 85%;
    list-style: none;
    transition:all .25s ease;
}

.fa:hover {
	padding: 22px;
    width: 1.5rem;
	cursor: pointer;
}

.fa-envelope {
    color: #9c91e5;
}

.fa-linkedin {
    color: #b191e5;
}

.fa-instagram {
    color: #cd91e5;
}

.fa-github {
    color: #e591d8;
}

.sm-link {
    padding-top: 35px;
    gap: 2rem;
    display:flex;
    justify-content:center;
}

.color-change {
    animation: hue-shift 7s infinite alternate;
}

@keyframes blink {
    to {
        opacity:.0;
    }
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes hue-shift {
    from {
        filter: hue-rotate(0);
    } to {
        filter: hue-rotate(360deg);
    }
}

@media (max-width: 768px) {
    main {
      padding: 20px;
      max-width: 100%;
    }
    .intro {
      font-size: 25px;
    }
}

@media (max-width: 350px) {
    .sm-link {
        display:grid;
    }
}